<!DOCTYPE html>
<html lang="zh">

<head>
    <!-- 关联 http 头部 -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- viewport宽度等于设别宽度 初始缩放比例 1 是否允许用户缩放 否  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- 字符编码为 UTF-8 -->
    <meta charset="UTF-8">

    <title> 商品详情</title>
    <meta name="keywords" content="商品详情" />
    <meta name="description" content="商品详情" />

    <!-- 格式检测 -->
    <meta name="format-detection" content="telephone=no, email=no" />

    <!-- 内核设置 -->
    <meta name="renderer" content="webkit">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <!-- 指定渲染引擎 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="../images/iconfont.css">
    <link rel="stylesheet" href="../images/detail.css">

    <script src="../images/polyfill.js"></script>
    <script src="../images/axios.js"></script>
    <!-- <script src="../images/jquery.js"></script> -->
    <script src="../images/velocity.min.js"></script>
    <script src="../images/vue.js"></script>
</head>

<body>
    <div class="main_body">
        <!-- 导航   START -->
        <div class="header">
            <!-- logo和搜索框   START -->
            <div v-bind:class="{ceil_fixed : is_fixed}" class="ceil_box js_ceil_box" v-cloak>
                <div class="header_logo">
                    <a v-show="is_show" class="logo_box" href="main.html">
                        <img src="../images/logo.png">
                    </a>
                    <form v-bind:class="{no_margin : !is_show}" class="search_input js_search_input" onsubmit="return search()">
                        <input v-model="search_word" placeholder="商品标题、关键字">
                        <i class="icon-font i-search-pc" @click="search"></i>
                    </form>
                </div>
            </div>
            <p v-show="is_show" class="ceil_filler js_ceil_filler" v-cloak></p>
            <!-- logo和搜索框   END -->

            <!-- 按钮   START -->
            <div class="header_btns">
                <p class="btn_box">
                    <a class="cur all" href="main.html">全网商品</a>
                    <a class="bargain" href="bargain.html">特惠商品</a>
                    <a class="hundred" href="hundred.html">百元精品</a>
                </p>
            </div>

            <!-- 按钮   END -->
        </div>
        <!-- 导航   END -->

        <!-- 中间  START -->
        <div class="mid js_mid" v-cloak>
            <div class="limit">
                <!-- 商品详情 -->
                <div class="detail_box">
                    <p class="container">
                        <span class="img_box">
                            <span v-if="goods_detail.is_ju" class="ju">正在参加聚划算</span>
                            <span v-if="goods_detail.is_qiang" class="qiang">正在参加淘抢购</span>
                            <img v-bind:src="goods_detail.goods_pic" src="../images/default.gif">
                        </span>
                    </p>
                    <p class="container">
                        <span class="text_box">
                            <!-- 标题 -->
                            <span class="title_box">
                                <a class="title" v-bind:href="goods_detail.goods_url">
                                    <span class="icon">
                                        <img v-if="goods_detail.is_tmall" src="../images/tmall.png">
                                        <img v-if="!goods_detail.is_tmall" src="../images/taobao.png">
                                    </span>
                                    {{goods_detail.goods_title}}
                                </a>
                            </span>
                            <span class="">
                                <!-- 价格 -->
                                <span class="org_price_box">
                                    <span class="org_price">
                                        <span class="title">原价</span>
                                        <span class="icon">￥</span>
                                        <span class="num">{{goods_detail.goods_price}}</span>
                                    </span>
                                </span>
                                <!-- 特点 -->
                                <span class="special_box">
                                    <!-- 淘抢购 -->
                                    <!-- <span class="qiang">购</span> -->
                                    <!-- 聚划算 -->
                                    <!-- <span class="ju">聚</span> -->
                                    <!-- 金牌卖家 -->
                                    <span v-if="goods_detail.is_gold" class="cover">
                                        <span class="jin" title="金牌卖家" @mouseover="showLayer(goods_detail,'is_show_jin')"
                                            @mouseout="hideLayer(goods_detail,'is_show_jin')">金</span>
                                        <transition name="layer">
                                            <span v-show="goods_detail.is_show_jin" class="layer jin">
                                                金牌卖家
                                                <i class="i_jin icon-font i-play"></i>
                                            </span>
                                        </transition>
                                    </span>
                                    <!-- 极有家 -->
                                    <span v-if="goods_detail.is_ji" class="cover">
                                        <span class="ji" title="极有家" @mouseover="showLayer(goods_detail,'is_show_ji')"
                                            @mouseout="hideLayer(goods_detail,'is_show_ji')">极</span>
                                        <transition name="layer">
                                            <span v-show="goods_detail.is_show_ji" class="layer ji">
                                                极有家
                                                <i class="i_ji icon-font i-play"></i>
                                            </span>
                                        </transition>
                                    </span>
                                    <!-- 海淘 -->
                                    <span v-if="goods_detail.is_hai" class="cover">
                                        <span class="hai" title="海淘" @mouseover="showLayer(goods_detail,'is_show_hai')"
                                            @mouseout="hideLayer(goods_detail,'is_show_hai')">海</span>
                                        <transition name="layer">
                                            <span v-show="goods_detail.is_show_hai" class="layer hai">
                                                海淘
                                                <i class="i_hai icon-font i-play"></i>
                                            </span>
                                        </transition>
                                    </span>
                                    <!-- 运费险 -->
                                    <span v-if="goods_detail.is_yun" class="cover">
                                        <span class="xian" title="运费险" @mouseover="showLayer(goods_detail,'is_show_yun')"
                                            @mouseout="hideLayer(goods_detail,'is_show_yun')">险</span>
                                        <transition name="layer">
                                            <span v-if="goods_detail.is_show_yun" class="layer xian">
                                                运费险
                                                <i class="i_xian icon-font i-play"></i>
                                            </span>
                                        </transition>
                                    </span>
                                </span>
                            </span>
                            <!-- 券后  -->
                            <span class="after_coupon_box">
                                <span class="after_coupon">
                                    <span class="title">券后</span>
                                    <span class="icon">￥</span>
                                    <span class="num">{{goods_detail.after_coupon}}</span>
                                </span>
                            </span>
                            <span class="sale_dsr_limit">
                                <!-- 销量 -->
                                <span class="sale_box">
                                    <span class="sale">
                                        <span class="title">销量</span>
                                        <span class="num">{{goods_detail.goods_sale}}</span>
                                    </span>
                                </span>
                                <!-- 评分 -->
                                <span class="dsr_box">
                                    <span class="dsr">
                                        <span class="title">店铺评分</span>
                                        <span class="num">{{goods_detail.dsr}}</span>
                                    </span>
                                </span>
                            </span>
                            <!-- 优惠券 -->
                            <span class="quan_box">
                                <span class="quan">
                                    <span class="title">领券</span>
                                    <a title="去领券" v-bind:href="goods_detail.coupon_url">
                                        <span class="icon">￥</span>
                                        <span class="num">{{goods_detail.coupon_price}}</span>
                                    </a>
                                </span>
                                <span class="quan_time">
                                    <span class="title">截止</span>
                                    <span class="date">{{goods_detail.coupon_end}}</span>
                                </span>
                            </span>
                        </span>
                    </p>
                    <!--  -->
                </div>
                <!-- 推荐 -->
                <div class="recommend_box">
                    <span class="title">相关推荐</span>
                    <ul class="recommend_list">
                        <li v-for="item in goods_list">
                            <span class="item">
                                <!--  -->
                                <span class="container">
                                    <!-- 图片 -->
                                    <span class="img_box">
                                        <img v-bind:src="item.goods_pic">
                                        <span class="link_box">
                                            <a target="_blank" v-if="item.is_tmall"><i class="icon-font i-right"></i>去天猫</a>
                                            <a target="_blank" v-if="!item.is_tmall"><i class="icon-font i-right"></i>去淘宝</a>
                                            <a target="_blank"><i class="icon-font i-installment"></i>去领券</a>
                                        </span>
                                        <span v-if="item.is_ju" class="ju">正在参加聚划算</span>
                                        <span v-if="item.is_qiang" class="qiang">正在参加淘抢购</span>
                                    </span>
                                </span>
                                <!--  -->
                                <span class="container">
                                    <span class="text_box">
                                        <!-- 标题 -->
                                        <a class="title" target="_blank" @click="goToDetail(item.goods_id)">
                                            <img v-if="item.is_tmall" src="../images/tmall.png">
                                            <img v-if="!item.is_tmall" src="../images/taobao.png">
                                            {{item.goods_title}}
                                        </a>
                                        <!-- 价格 -->
                                        <span class="org_price">
                                            <span class="box">
                                                <span class="price_title">原价</span>
                                                <span class="icon">￥</span>
                                                <span class="num">{{item.goods_price}}</span>
                                            </span>
                                            <span v-if="item.is_yun" class="tag_box">
                                                <span class="xian" title="运费险" @mouseover="showLayer(item,'is_show_yun')"
                                                    @mouseout="hideLayer(item,'is_show_yun')">险</span>
                                                <transition name="layer">
                                                    <span v-show="item.is_show_yun" class="layer">
                                                        运费险
                                                        <i class="icon-font i-play"></i>
                                                    </span>
                                                </transition>
                                            </span>
                                        </span>
                                        <!-- 券后价 -->
                                        <!-- 券后价 -->
                                        <span class="price">
                                            <span class="price_title">券后</span>
                                            <span class="icon">￥</span>
                                            <span class="num">{{item.after_coupon}}</span>
                                        </span>
                                        <!-- 价格   end -->
                                        <!-- 销量 -->
                                        <span class="sale">
                                            <span class="sale_container">
                                                <span class="sale_title">
                                                    销量
                                                </span>
                                                <span class="num">
                                                    {{item.goods_sale}}
                                                </span>
                                            </span>
                                        </span>
                                        <!-- 销量   end -->
                                        <!-- 优惠券 -->
                                        <span class="quan_box">
                                            <a class="quan" target="_blank" v-bind:href="item.coupon_url">
                                                <span class="quan_container">
                                                    <span class="quan_title">
                                                        领券
                                                    </span>
                                                    <i>￥</i>
                                                    <span class="num">{{item.coupon_price}}</span>
                                                </span>
                                            </a>
                                        </span>
                                        <!-- 优惠券   end -->
                                    </span>
                                    <!-- text_box -->
                                </span>
                                <!-- container -->
                            </span>
                            <!-- item -->
                        </li>

                    </ul>
                </div>
                <!-- 滚动至顶部 -->
                <span v-show="is_show_totop" class="to_top" @click="scrollToTop">
                    <i class="icon-font i-v-top"></i>
                </span>
            </div>
        </div>
        <!-- 中间  END -->

        <!-- 底部   START -->
        <div class="footer">
            <span class="txt">本站所有数据均来自阿里巴巴</span>
        </div>
        <!-- 底部   END -->
    </div>
    <script src="../images/detail.js"></script>
</body>

</html>