@charset "utf-8";

[v-cloak] {
    display: none !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

ul,
li {
    list-style: none;
}

.main_body {
    position: relative;
    margin: auto;
}

/* -----------------------------------------------导航   开始----------------------------------- */
.header {
    position: relative;
    margin: 40px auto 0 auto;
    /* max-width: 1920px; */
}

.header .ceil_box {
    width: 100%;
    max-width: 1920px;
    min-height: 35px;
    margin: auto;
    background-color: #ffffff;
}

.header .header_logo {
    max-width: 1200px;
    margin: auto;
}

.header .ceil_filler {
    height: 35px;
}

.ceil_fixed {
    position: fixed;
    top: 0;
    padding: 10px 0 15px 0;
    z-index: 100;
    box-shadow: 0 3px 2px #dddddd;
}

.header .logo_box {
    position: absolute;
    display: block;
    width: 120px;
    margin-top: -5px;
    margin-left: 10px;
    text-decoration: none;
}

.header .logo_box>img {
    width: 100%;
}

/* 搜索框   开始 */
.header .search_input {
    position: relative;
    width: 440px;
    height: 35px;
    margin: auto;
}

.no_margin {
    margin-top: 0 !important;
}

.header .search_input>input {
    display: block;
    width: 100%;
    height: 35px;
    text-indent: 0.5em;
    outline: none;
    font-size: 16px;
    transition: all .5s ease;
    border: 2px solid #fa5319;
}

.header .search_input>input:focus {
    box-shadow: 0 0 5px #fa5319;
}

.header .search_input>i {
    position: absolute;
    display: block;
    top: 0;
    left: 100%;
    width: 80px;
    height: 35px;
    padding: 2px;
    margin-left: -80px;
    color: #ffffff;
    line-height: 35px;
    text-align: center;
    font-size: 23px;
    font-weight: 800;
    background-color: #fa5319;
}

.header .search_input>i:hover {
    cursor: pointer;
    background-color: #e54107;
}

/* 搜索框   结束 */
/* 导航按钮   开始 */
.header .header_btns {
    /* max-width: 1920px; */
    margin: 40px auto 0 auto;
    background-color: #fa5319;
    height: auto;
}

.header .header_btns .btn_box {
    max-width: 1200px;
    margin: auto;
    font-size: 0;
}

.header .header_btns .btn_box>a {
    display: inline-block;
    width: 100px;
    line-height: 40px;
    font-size: 18px;
    color: #ffffff;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
}

.header .header_btns .btn_box>a:first-child {
    margin-left: 0;
}

.header .header_btns .btn_box>a:hover {
    cursor: pointer;
    background-color: #e44108;
}

/* 导航按钮   结束 */
@media (min-width:992px) and (max-width:1199px) {
    .header .logo_box {
        margin-left: 30px;
    }

    .header .header_btns .btn_box>a:first-child {
        margin-left: 20px;
    }
}

@media (min-width:767px) and (max-width:991px) {
    .header {
        margin-top: 30px;
    }

    .header .ceil_filler {
        height: 110px;
    }

    .header .logo_box {
        position: relative;
        margin: auto;
        width: 110px;
    }

    .header .search_input {
        margin-top: 30px;
    }

    .header .header_btns .btn_box>a:first-child {
        margin-left: 20px;
    }
}

@media (max-width:767px) {
    .header {
        margin-top: 20px;
    }

    .header .header_btns .btn_box {
        padding: 0 10px;
    }

    .header .header_btns .btn_box>a {
        margin-left: 0;
    }

    .header .ceil_filler {
        height: 110px;
    }

    .header .logo_box {
        position: relative;
        margin: 0 auto auto auto;
        width: 100px;
    }

    .header .search_input {
        width: auto;
        padding: 0 10px 0 6px;
        max-width: 440px;
        margin-top: 20px;
    }

    .header .search_input>i {
        width: 70px;
        margin-left: -80px;
    }

    .header .header_btns {
        margin-top: 30px;
    }

}

/* -----------------------------------------------导航   结束----------------------------------- */

/* -----------------------------------------------中部   开始----------------------------------- */
.mid {
    min-height: 500px;
    padding: 20px 0;
    font-size: 0;
    background-color: #f5f5f5;
}

.mid>.limit {
    max-width: 1200px;
    margin: auto;
}

/* 商品详情   start */
.mid .detail_box {
    display: block;
    font-size: 0;
}

.mid .detail_box>.container {
    display: inline-block;
    width: calc(100% - 300px);
    vertical-align: top;
}

.mid .detail_box>.container:first-child {
    width: 300px;
}

.mid .detail_box .img_box {
    position: relative;
    display: inline-block;
    width: 284px;
    padding: 8px;
    background-color: #ffffff;
}

.mid .detail_box .img_box>span {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 6px 10px;
    color: #ffffff;
    font-size: 15px;
}

.mid .detail_box .img_box .ju {
    background-color: #7144d5;
    background: -webkit-linear-gradient(right, #63aff9, #8b16f5);
    background: -o-linear-gradient(right, #63aff9, #8b16f5);
    background: -moz-linear-gradient(right, #63aff9, #8b16f5);
    background: linear-gradient(right, #63aff9, #8b16f5);
}

.mid .detail_box .img_box .qiang {
    background-color: #e63140;
    background: -webkit-linear-gradient(right, #f58b07, #f51616);
    background: -o-linear-gradient(right, #f58b07, #f51616);
    background: -moz-linear-gradient(right, #f58b07, #f51616);
    background: linear-gradient(right, #f58b07, #f51616);
}

.mid .detail_box .img_box>img {
    width: 100%;
}

.mid .detail_box .text_box {
    display: block;
    width: auto;
    height: 280px;
    padding: 10px;
    margin-left: 10px;
    background-color: #ffffff;
}

.mid .detail_box .text_box>span {
    display: block;
    /* padding: 0 8px; */
}

/* .mid .detail_box .text_box .sale_dsr_limit {
    padding: 0 8px 8px 8px;
    background-color: #f8f8f8;
} */

.mid .detail_box .text_box .title_box {
    display: block;
    text-align: left;
    font-size: 0;
}

.mid .detail_box .text_box .title_box .title {
    display: block;
    width: auto;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    color: black;
}

.mid .detail_box .text_box .title_box .title:hover {
    cursor: pointer;
    color: #ff4200;
}

.mid .detail_box .text_box .title_box .icon {
    display: inline-block;
    width: 18px;
    margin-right: 5px;
    vertical-align: middle;
}

.mid .detail_box .text_box .title_box .icon>img {
    width: 100%;
}

/* 原价 start */
.mid .detail_box .text_box .org_price_box {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    font-size: 0;
    vertical-align: top;
}

.mid .detail_box .org_price {
    display: block;
}

.mid .detail_box .org_price>span {
    display: inline-block;
    margin-left: 5px;
    color: #999999;
    font-size: 15px;
    line-height: 20px;
    vertical-align: middle;
}

.mid .detail_box .org_price>span:first-child {
    margin-left: 0;
}

.mid .detail_box .org_price .num {
    font-size: 20px;
    margin-left: 0;
}

/* 原价  end */
/* 标签  start */
.mid .detail_box .text_box .special_box {
    display: inline-block;
    width: 50%;
    margin-top: 12px;
    font-size: 0;
    text-align: right;
    vertical-align: top;
}

.mid .detail_box .text_box .special_box>span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 3px 0 0 10px;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    vertical-align: top;
    border-radius: 3px;
}

.mid .detail_box .text_box .special_box>span:first-child {
    margin-left: 0;
}

.mid .detail_box .text_box .special_box .cover {
    position: relative;
}

.mid .detail_box .text_box .special_box .cover>span {
    display: block;
    border-radius: 3px;
}

.mid .detail_box .text_box .special_box .qiang {
    background-color: #fa5319;
}

.mid .detail_box .text_box .special_box .ju {
    background-color: #7144d5;
}

.mid .detail_box .text_box .special_box .jin {
    background-color: #efa21b;
}

.mid .detail_box .text_box .special_box .ji {
    background-color: #2b14d7;
}

.mid .detail_box .text_box .special_box .hai {
    background-color: #2878da;
}

.mid .detail_box .text_box .special_box .xian {
    background-color: #ff0036;
}

/* 弹层   start */
.mid .detail_box .text_box .special_box .cover>.layer {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 100%;
    display: block;
    width: 75px;
    height: 26px;
    margin: -12px 0 0 -102px;
    line-height: 25px;
    border-radius: 2px;
    font-size: 14px;
    box-shadow: 0 0 2px #999999;
}

.mid .detail_box .text_box .special_box .cover .layer i {
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    margin-left: -8px;
    font-size: 0;
    border-bottom: 15px solid #ff0036;
    border-right: 15px solid transparent;
}

.mid .detail_box .text_box .special_box .cover .layer .i_jin {
    border-bottom-color: #efa21b;
}

.mid .detail_box .text_box .special_box .cover .layer .i_ji {
    border-bottom-color: #2b14d7;
}

.mid .detail_box .text_box .special_box .cover .layer .i_hai {
    border-bottom-color: #2878da;
}

.layer-enter-active {
    animation: layer-in .2s;
}

.layer-leave-active {
    animation: layer-in .2s reverse;
}

@keyframes layer-in {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.test-enter-active {
    animation: test .2s;
}

.test-leave-active {
    animation: test .2s reverse;
}

@keyframes test {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* 弹层   end */
/* 标签   end */
/* 券后  start */
.mid .detail_box .text_box .after_coupon_box {
    display: block;
    margin-top: 10px;
    font-size: 0;
    padding-top: 8px;
    /* background-color: #f8f8f8; */
}

.mid .detail_box .text_box .after_coupon {
    display: block;
    margin-top: 5px;
}

.mid .detail_box .text_box .after_coupon>span {
    display: inline-block;
    margin-left: 5px;
    color: #ff0036;
    font-size: 15px;
    line-height: 1;
    vertical-align: middle;
}

.mid .detail_box .text_box .after_coupon>span:first-child {
    margin-left: 0;
}

.mid .detail_box .text_box .after_coupon .num {
    margin-left: 0;
    font-size: 25px;
    font-weight: bold;
}

/* 券后  end */
/* 销量   start */
.mid .detail_box .text_box .sale_box {
    display: inline-block;
    width: 50%;
    margin-top: 20px;
    vertical-align: top;
}

.mid .detail_box .text_box .sale {
    display: block;
    font-size: 0;
}

.mid .detail_box .text_box .sale>span {
    display: inline-block;
    margin-left: 10px;
    font-size: 15px;
    color: #666666;
    line-height: 1;
    vertical-align: middle;
}

.mid .detail_box .text_box .sale>span:first-child {
    margin-left: 0;
}

.mid .detail_box .text_box .sale .num {
    font-size: 25px;
}

/* 销量   end */
/* 评分   start */
.mid .detail_box .text_box .dsr_box {
    display: inline-block;
    width: 50%;
    margin-top: -30px;
    text-align: right;
}

.mid .detail_box .text_box .dsr {
    display: inline-block;
    width: 100px;
    font-size: 0;
    border-radius: 5px;
    border: 1px solid #fa5319;
    background-color: #ffffff;
}

.mid .detail_box .text_box .dsr>span {
    display: block;
    width: 100%;
    font-size: 15px;
    text-align: center;
    color: #666666;
    line-height: 1;
    padding: 10px 0;
}

.mid .detail_box .text_box .dsr .title {
    color: #ffffff;
    border-radius: 3px 3px 0 0;
    background-color: #fa5319;
}

.mid .detail_box .text_box .dsr .num {
    width: 98px;
    color: #fa5319;
    font-size: 18px;
}

/* 评分   end */
/* 优惠券  start */
.mid .detail_box .text_box .quan_box {
    display: block;
    margin-top: 90px;
    font-size: 0;
}

.mid .detail_box .text_box .quan_box>span {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
}

.mid .detail_box .text_box .quan>span {
    display: inline-block;
    vertical-align: middle;
}

.mid .detail_box .text_box .quan>a {
    display: inline-block;
    width: 100px;
    margin-left: 8px;
    font-size: 0;
    vertical-align: middle;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #fa5319;
}

.mid .detail_box .text_box .quan>a:hover {
    background-color: #fa5319;
}

.mid .detail_box .text_box .quan>a:hover .icon {
    color: #ffffff;
}

.mid .detail_box .text_box .quan>a:hover .num {
    color: #ffffff;
}

.mid .detail_box .text_box .quan .title {
    font-size: 18px;
    color: #fa5319;

}

.mid .detail_box .text_box .quan>a>span {
    display: inline-block;
    vertical-align: middle;
    color: #fa5319;
}

.mid .detail_box .text_box .quan .icon {
    font-size: 18px;
}

.mid .detail_box .text_box .quan .num {
    font-size: 25px;
}

.mid .detail_box .text_box .quan_time {
    display: inline-block;
    margin-left: 20px;
    font-size: 0;
}

.mid .detail_box .text_box .quan_time>span {
    display: inline-block;
    font-size: 18px;
    color: #999999;
    line-height: 35px;
}

.mid .detail_box .text_box .quan_time .date {
    margin-left: 10px;
}

/* 优惠券   end */
@media(max-width:1200px) {
    .mid .detail_box .text_box .after_coupon_box {
        background-color: #ffffff;
    }

    .mid .detail_box .text_box .sale_dsr_limit {
        background-color: #ffffff;
    }
}

@media(min-width:992px) and (max-width:1199px) {
    .mid {
        padding: 20px;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .mid {
        padding: 20px;
    }
}

@media(min-width:768px) {
    .mid .detail_box {
        padding: 0 5px;
    }
}

/* @media(min-width:500px) and (max-width:767px) {
    .mid {
        padding: 20px 0;
    }

    .mid .detail_box>.container {
        width: calc(100% - 200px);
    }

    .mid .detail_box>.container:first-child {
        width: 200px;
    }

    .mid .detail_box .img_box {
        width: 188px;
        padding: 6px;
    }

    .mid .detail_box .text_box {
        height: 188px;
        margin-left: 0;
        padding: 6px 6px 6px 0;
    }

    .mid .detail_box .text_box>span {
        padding: 0;
        margin-top: 5px;
    }

    .mid .detail_box .text_box .title_box {
        margin-top: 0;
    }

    .mid .detail_box .text_box .sale_dsr_limit {
        padding: 0;
    }

    .mid .detail_box .text_box .org_price_box {
        margin-top: 1px;
        width: 40%;
    }

    .mid .detail_box .text_box .special_box {
        width: 60%;
        margin-top: 0px;
    }

    .mid .detail_box .text_box .special_box>span {
        margin-left: 5px;
    }

    .mid .detail_box .text_box .special_box>span:first-child {
        margin-left: 0;
    }

    .mid .detail_box .text_box .after_coupon_box {
        margin-top: 15px;
        padding: 0;
    }

    .mid .detail_box .text_box .dsr>span {
        padding: 6px 0;
    }

    .mid .detail_box .text_box .sale_box {
        margin-top: 15px;
    }

    .mid .detail_box .text_box .quan_box {
        margin-top: 15px;
    }

    .mid .detail_box .text_box .quan>a {
        width: 80px;
    }

    .mid .detail_box .text_box .quan_time {
        margin-left: 10px;
    }

} */

@media(max-width:767px) {
    .mid {
        padding: 20px 0;
    }

    .mid .detail_box>.container {
        display: block;
        width: 100%;
    }

    .mid .detail_box>.container:first-child {
        width: 100%;
    }

    .mid .detail_box .img_box {
        position: relative;
        display: block;
        width: auto;
        padding: 8px;
        margin: auto;
        background-color: #ffffff;
        /* width: 188px;
        padding: 6px; */
    }

    .mid .detail_box .img_box>img {
        display: block;
        margin: auto;
    }

    .mid .detail_box .text_box {
        margin-left: 0;
        height: auto;
        padding: 3px 8px 15px 8px;
    }

    .mid .detail_box .text_box>span {
        padding: 0;
    }

    .mid .detail_box .text_box .sale_dsr_limit {
        padding: 0;
    }

    .mid .detail_box .text_box .quan_box {
        margin-top: 20px;
    }

    .mid .detail_box .text_box .quan_time {
        margin-left: 15px;
    }

    .mid .detail_box .text_box .quan_time .date {
        margin-left: 5px;
    }

    .mid .detail_box .text_box .title_box {
        margin-top: 0;
    }

    .mid .detail_box .text_box>span {
        margin-top: 10px;
    }

    .mid .detail_box .text_box .org_price_box {
        margin-top: 0;
    }

    .mid .detail_box .text_box .special_box {
        margin-top: 0;
    }

    .mid .detail_box .text_box .after_coupon_box {
        padding: 0;
        margin-top: 15px;
    }

    .mid .detail_box .text_box .sale_box {
        margin-top: 6px;
    }

    .mid .detail_box .text_box .dsr_box {
        margin-top: -35px;
    }

    .mid .detail_box .text_box .dsr>span {
        padding: 8px 0;
    }
}

@media(min-width:500px) and (max-width:767px) {
    .mid .detail_box .text_box {
        padding: 5px 12px 15px 12px;
    }

    .mid .detail_box .img_box {
        padding: 12px 12px 5px 12px;
    }

    .mid .detail_box .img_box>span {
        top: 12px;
        left: 12px;
    }

}

/* 商品详情   end */



/* 相关推荐   start */
.mid .recommend_box {
    display: block;
    margin-top: 20px;
    font-size: 20px;
    /* padding-left: 8px; */
    color: #666666;
}

.mid .recommend_box>.title {
    display: block;
    padding-left: 8px;
}

.mid .recommend_box>.recommend_list {
    font-size: 0;
    text-align: left;
}

.mid .recommend_box .recommend_list>li {
    display: inline-block;
    margin-top: 20px;
    width: 25%;
    vertical-align: top;
}

.mid .recommend_box .recommend_list>li .item {
    position: relative;
    display: block;
    width: 95%;
    margin: auto;
    background-color: #ffffff;
}

.mid .recommend_box .item .container {
    position: relative;
    display: block;
    padding: 6px;
    margin: auto;
}

.mid .recommend_box .item .container .img_box {
    position: relative;
    display: block;
}

.mid .recommend_box .item .container .img_box>img {
    width: 100%;
}

.mid .recommend_box .item .container .img_box .link_box {
    position: relative;
    display: none;
    height: 30px;
    margin-top: -30px;
    font-size: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.mid .recommend_box .item:hover {
    box-shadow: 0 0 8px #888888;
}

.mid .recommend_box .item:hover .link_box {
    display: block !important;
}

.mid .recommend_box .item .container .img_box .link_box>a {
    display: inline-block;
    width: 50%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;
}

.mid .recommend_box .item .container .img_box .link_box>a:hover {
    cursor: pointer;
    background-color: #fa5319;
}

.mid .recommend_box .item .container .img_box .link_box>a i {
    margin-right: 3px;
}

.mid .recommend_box .item .container .img_box .ju {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    color: #ffffff;
    font-size: 14px;
    /* border-radius: 3px; */
    background-color: #7144d5;
    background: -webkit-linear-gradient(right, #63aff9, #8b16f5);
    background: -o-linear-gradient(right, #63aff9, #8b16f5);
    background: -moz-linear-gradient(right, #63aff9, #8b16f5);
    background: linear-gradient(right, #63aff9, #8b16f5);
}

.mid .recommend_box .item .container .img_box .qiang {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    color: #ffffff;
    font-size: 14px;
    /* border-radius: 3px; */
    background-color: #e63140;
    background: -webkit-linear-gradient(right, #f58b07, #f51616);
    background: -o-linear-gradient(right, #f58b07, #f51616);
    background: -moz-linear-gradient(right, #f58b07, #f51616);
    background: linear-gradient(right, #f58b07, #f51616);
}

.mid .recommend_box .item .container:last-child {
    padding-top: 0;
}

.mid .recommend_box .item .container .text_box {
    position: relative;
    display: block;
    font-size: 0;
}

.mid .recommend_box .item .text_box .title {
    position: relative;
    display: block;
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mid .recommend_box .item .text_box .title:hover {
    cursor: pointer;
    color: #ff4200;
}

.mid .recommend_box .item .text_box .title>img {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -3px 2px 0 0;
    vertical-align: middle;
}

/* 原价   start */
.mid .recommend_box .item .text_box .org_price {
    display: block;
    font-size: 0;
    margin-top: 5px;
    padding-right: 3px;
}

.mid .recommend_box .item .text_box .org_price>span {
    display: inline-block;
    /* vertical-align: middle; */
}

.mid .recommend_box .item .text_box .org_price .box>span {
    vertical-align: middle;
}

.mid .recommend_box .item .text_box .org_price .box {
    width: 80%;
}

.mid .recommend_box .item .text_box .org_price .tag_box {
    position: relative;
    width: 20%;
}

.mid .recommend_box .item .text_box .org_price .tag_box>.layer {
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 100%;
    display: block;
    width: 70px;
    height: 26px;
    margin: -12px 0 0 -100px;
    line-height: 25px;
    border-radius: 2px;
    font-size: 14px;
    box-shadow: 0 0 2px #999999;
}

.mid .recommend_box .item .text_box .org_price .tag_box>.layer i {
    position: absolute;
    top: 0;
    left: 100%;
    width: 0;
    height: 0;
    margin-left: -8px;
    font-size: 0;
    border-bottom: 15px solid #ff0036;
    border-right: 15px solid transparent;
}

.mid .recommend_box .item .text_box .org_price .price_title {
    font-size: 14px;
    color: #999999;
}

.mid .recommend_box .item .text_box .org_price .icon {
    font-size: 14px;
    color: #999999;
    margin-left: 3px;
}

.mid .recommend_box .item .text_box .org_price .num {
    margin-left: 2px;
    font-size: 15px;
    color: #999999;
}

.mid .recommend_box .item .text_box .tag_box {
    text-align: right;
}

.mid .recommend_box .item .text_box .tag_box>span {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 18px;
    vertical-align: middle;
    background-color: #ff0036;
}

/* 原价   end */
/* 券后   start */
.mid .recommend_box .item .text_box .price {
    display: block;
    font-size: 0;
    margin-top: 5px;
}

.mid .recommend_box .item .text_box .price>span {
    display: inline-block;
    vertical-align: middle;
    color: #ff0036;
    line-height: 20px;
}

.mid .recommend_box .item .text_box .price .price_title {
    font-size: 14px;
}

.mid .recommend_box .item .text_box .price .icon {
    font-size: 14px;
    margin-left: 3px;
}

.mid .recommend_box .item .text_box .price .num {
    margin-left: 2px;
    font-size: 18px;
    font-weight: bold;
}

/* 券后   end */
/* 销量   start */
.mid .recommend_box .item .text_box .sale {
    display: block;
    font-size: 0;
    margin-top: 5px;
}

.mid .recommend_box .item .text_box .sale>span {
    display: inline-block;
    color: #666666;
}

.mid .recommend_box .item .text_box .sale_container>span {
    vertical-align: middle;
}

.mid .recommend_box .item .text_box .sale .sale_title {
    font-size: 14px;
}

.mid .recommend_box .item .text_box .sale .num {
    margin-left: 3px;
    font-size: 18px;
}

/* 销量   end */
/* 领券   start */
.mid .recommend_box .item .text_box .quan_box {
    display: block;
    margin-top: 3px;
    text-align: right;
}

.mid .recommend_box .item .text_box .quan {
    display: inline-block;
    color: #ff4200;
    text-align: right;
}

.mid .recommend_box .item .text_box .quan .quan_title {
    display: inline-block;
    font-size: 14px;
    vertical-align: middle;
}

.mid .recommend_box .item .text_box .quan i {
    display: inline-block;
    font-style: normal;
    font-size: 15px;
    margin-left: 3px;
    /* margin-top: 2px; */
    line-height: 1;
    vertical-align: middle;
}

.mid .recommend_box .item .text_box .quan .num {
    display: inline-block;
    margin-left: 0;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    vertical-align: middle;
}

.mid .recommend_box .item .text_box .sale_container {
    display: block;
}

.mid .recommend_box .item .text_box .quan_container {
    display: inline-block;
}

@media(max-width:992px) {
    .mid .recommend_box .item:hover .link_box {
        display: none !important;
    }
}

@media(min-width:450px) and (max-width:768px) {
    .mid .recommend_box>.title {
        padding-left: 10px;
    }

    .mid .recommend_box .recommend_list {
        padding: 0 4px;
        margin-top: 10px;
    }

    .mid .recommend_box .recommend_list>li {
        width: 50%;
        margin-top: 8px;
    }

    .mid .recommend_box .recommend_list>li .item {
        width: 97%;
    }
}

@media(max-width:449px) {
    .mid .recommend_box {
        padding: 0;
    }

    .mid .recommend_box>.title {
        margin-bottom: 19px;
    }

    .mid .recommend_box .recommend_list>li {
        width: 100%;
        margin-top: 1px;
    }

    .mid .recommend_box .recommend_list>li .item {
        width: 100%;
        font-size: 0;
        box-shadow: none;
    }

    .mid .recommend_box .item .container {
        display: inline-block;
        margin-left: 0;
        vertical-align: top;
    }

    .mid .recommend_box .item .container:first-child {
        width: 140px;
        height: 140px;
    }

    .mid .recommend_box .item .container:last-child {
        width: calc(100% - 152px);
        height: 152px;
        padding: 0;
    }

    .mid .recommend_box .item .container .text_box {
        height: 140px;
        padding: 6px 6px 6px 0;
    }

    .mid .recommend_box .item .container .text_box>span {
        margin-top: 5px;
    }

    .mid .recommend_box .item .container .text_box>.sale {
        position: relative;
        display: inline-block;
        width: 50%;
        margin: 10px 0 0 3px !important;
        vertical-align: middle;
        text-align: left;
    }

    .mid .recommend_box .item .container .text_box .sale_container {
        display: inline-block;
        max-width: 100px;
    }

    .mid .recommend_box .item .container .text_box .sale_container>span {
        display: block;
        text-align: center;
        margin: 2px 0 0 0;
    }

    .mid .recommend_box .item .text_box>.quan_box {
        position: relative;
        display: inline-block;
        width: calc(49% - 3px);
        margin-top: 10px !important;
        vertical-align: middle;
        text-align: right;
    }

    .mid .recommend_box .item .text_box .quan {
        width: 100%;
        max-width: 80px;
    }

    .mid .recommend_box .item .text_box .quan_container {
        display: inline-block;
        width: 100%;
        min-height: 40px;
        border-radius: 5px;
        text-align: center;
        border: 1px solid #fa5319;
    }

    .mid .recommend_box .item .text_box .quan .quan_title {
        display: block;
        height: 20px;
        text-align: center;
        color: #ffffff;
        line-height: 20px;
        padding: 3px 0;
        border-radius: 2px 2px 0 0;
        background-color: #fa5319;
    }

    .mid .recommend_box .item .text_box .quan i {
        margin: 0;
    }

    .mid .recommend_box .item .text_box .quan .num {
        padding: 3px 0;
    }
}


/* 相关推荐   end */
.mid .to_top {
    position: fixed;
    display: block;
    z-index: 99;
    top: 100%;
    left: 100%;
    width: 45px;
    height: 45px;
    margin: -60px 0 0 -60px;
    border-radius: 50%;
    text-align: center;
    line-height: 43px;
    background-color: rgba(0, 0, 0, 0.5);
}

.mid .to_top:hover {
    cursor: pointer;
    background-color: #fa5319;
}

.mid .to_top>i {
    margin-top: 10px;
    font-size: 23px;
    color: #ffffff;
    font-weight: bolder;
}

@media(max-width:991px) {
    .mid .to_top:hover {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

/* -----------------------------------------------中部   结束----------------------------------- */


.footer {
    position: relative;
    min-height: 100px;
    background-color: #eeeeee;
}

.footer .txt {
    position: relative;
    display: block;
    padding-top: 43px;
    text-align: center;
    line-height: 1;
    font-size: 18px;
    color: #666666;
}