@charset "utf-8";

[v-cloak] {
    display: none !important;
}

* {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

ul,
li {
    list-style: none;
}

.main_body {
    position: relative;
    margin: auto;
}

/* -----------------------------------------------导航   开始----------------------------------- */
.header {
    position: relative;
    margin: 40px auto 0 auto;
    /* max-width: 1920px; */
}

.header .ceil_box {
    width: 100%;
    max-width: 1920px;
    min-height: 35px;
    margin: auto;
    background-color: #ffffff;
}

.header .header_logo {
    max-width: 1200px;
    margin: auto;
}

.header .ceil_filler {
    height: 35px;
}

.ceil_fixed {
    position: fixed;
    top: 0;
    padding: 10px 0 15px 0;
    z-index: 100;
    box-shadow: 0 3px 2px #dddddd;
}

.header .logo_box {
    position: absolute;
    display: block;
    width: 120px;
    margin-top: -5px;
    margin-left: 10px;
    text-decoration: none;
}

.header .logo_box>img {
    width: 100%;
}

/* 搜索框   开始 */
.header .search_input {
    position: relative;
    width: 440px;
    height: 35px;
    margin: auto;
}

.no_margin {
    margin-top: 0 !important;
}

.header .search_input>input {
    display: block;
    width: 100%;
    height: 35px;
    text-indent: 0.5em;
    outline: none;
    font-size: 16px;
    transition: all .5s ease;
    border: 2px solid #fa5319;
}

.header .search_input>input:focus {
    box-shadow: 0 0 5px #fa5319;
}

.header .search_input>i {
    position: absolute;
    display: block;
    top: 0;
    left: 100%;
    width: 80px;
    height: 35px;
    padding: 2px;
    margin-left: -80px;
    color: #ffffff;
    line-height: 35px;
    text-align: center;
    font-size: 23px;
    font-weight: 800;
    background-color: #fa5319;
}

.header .search_input>i:hover {
    cursor: pointer;
    background-color: #e54107;
}

/* 搜索框   结束 */
/* 导航按钮   开始 */
.header .header_btns {
    /* max-width: 1920px; */
    margin: 40px auto 0 auto;
    background-color: #fa5319;
    height: auto;
}

.header .header_btns .btn_box {
    max-width: 1200px;
    margin: auto;
    font-size: 0;
}

.header .header_btns .btn_box>a {
    display: inline-block;
    width: 100px;
    line-height: 40px;
    font-size: 18px;
    color: #ffffff;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
}

.header .header_btns .btn_box>a:first-child {
    margin-left: 0;
}

.header .header_btns .btn_box>a:hover {
    cursor: pointer;
    background-color: #e44108;
}

/* 导航按钮   结束 */
@media (min-width:992px) and (max-width:1199px) {
    .header .logo_box {
        margin-left: 30px;
    }

    .header .header_btns .btn_box>a:first-child {
        margin-left: 20px;
    }
}

@media (min-width:767px) and (max-width:991px) {
    .header {
        margin-top: 30px;
    }

    .header .ceil_filler {
        height: 110px;
    }

    .header .logo_box {
        position: relative;
        margin: auto;
        width: 110px;
    }

    .header .search_input {
        margin-top: 30px;
    }

    .header .header_btns .btn_box>a:first-child {
        margin-left: 20px;
    }
}

@media (max-width:767px) {
    .header {
        margin-top: 20px;
    }

    .header .header_btns .btn_box {
        padding: 0 10px;
    }

    .header .header_btns .btn_box>a {
        margin-left: 0;
    }

    .header .ceil_filler {
        height: 110px;
    }

    .header .logo_box {
        position: relative;
        margin: 0 auto auto auto;
        width: 100px;
    }

    .header .search_input {
        width: auto;
        padding: 0 10px 0 6px;
        max-width: 440px;
        margin-top: 20px;
    }

    .header .search_input>i {
        width: 70px;
        margin-left: -80px;
    }

    .header .header_btns {
        margin-top: 30px;
    }

}

/* -----------------------------------------------导航   结束----------------------------------- */

/* -----------------------------------------------中部   开始----------------------------------- */
.mid {
    min-height: 500px;
    padding: 30px 0 30px 0;
    font-size: 0;
    background-color: #f5f5f5;
}

.mid>.limit {
    max-width: 1200px;
    margin: auto;
}

/* 商品详情   start */
.mid .detail_box {
    display: block;
    font-size: 0;
}

.mid .detail_box>.container {
    display: inline-block;
    width: calc(100% - 300px);
    vertical-align: top;
}

.mid .detail_box>.container:first-child {
    width: 300px;
}

.mid .detail_box .img_box {
    display: inline-block;
    width: 288px;
    padding: 6px;
    background-color: #ffffff;
}

.mid .detail_box .img_box>img {
    width: 100%;
}

.mid .detail_box .text_box {
    display: block;
    width: auto;
    height: 270px;
    padding: 15px;
    margin-left: 10px;
    background-color: #ffffff;
}

.mid .detail_box .text_box>.title_box {
    display: block;
    text-align: left;
    font-size: 0;
}

.mid .detail_box .text_box>.title_box .title {
    display: block;
    width: auto;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mid .detail_box .text_box>.title_box .title:hover {
    cursor: pointer;
    color: #fa5319;
}

.mid .detail_box .text_box>.title_box .icon {
    display: inline-block;
    width: 18px;
    margin-right: 5px;
    vertical-align: middle;
}

.mid .detail_box .text_box>.title_box .icon>img {
    width: 100%;
}

/* 原价 start */
.mid .detail_box .text_box>.org_price_box {
    display: inline-block;
    width: 50%;
    margin-top: 15px;
    font-size: 0;
    vertical-align: top;
}

.mid .detail_box .org_price>span {
    display: inline-block;
    margin-left: 5px;
    color: #999999;
    font-size: 18px;
    line-height: 1;
}

.mid .detail_box .org_price>span:first-child {
    margin-left: 0;
}

.mid .detail_box .org_price .num {
    font-size: 20px;
    margin-left: 0;
}

/* 原价  end */
.mid .detail_box .text_box>.special_box {
    display: inline-block;
    width: 50%;
    margin-top: 10px;
    font-size: 0;
    text-align: right;
    vertical-align: top;
}

.mid .detail_box .text_box .special_box>span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 10px 0 0 10px;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-align: center;
    vertical-align: top;
    border-radius: 3px;
}

.mid .detail_box .text_box .special_box>span:first-child {
    margin-left: 0;
}

.mid .detail_box .text_box .special_box .qiang {
    background-color: #fa5319;
}

.mid .detail_box .text_box .special_box .ju {
    background-color: #7144d5;
}

.mid .detail_box .text_box .special_box .jin {
    background-color: #f7aa23;
}

.mid .detail_box .text_box .special_box .ji {
    background-color: #2b14d7;
}

.mid .detail_box .text_box .special_box .hai {
    background-color: #2878da;
}

.mid .detail_box .text_box .special_box .xian {
    background-color: #ff0036;
}

.mid .detail_box .text_box .after_coupon_box {
    display: inline-block;
    width: 80%;
    margin-top: 10px;
    font-size: 0;
    vertical-align: top;
}

.mid .detail_box .text_box .after_coupon>span {
    display: inline-block;
    margin-left: 5px;
    color: #ff0036;
    font-size: 18px;
}

.mid .detail_box .text_box .after_coupon>span:first-child {
    margin-left: 0;
}

.mid .detail_box .text_box .after_coupon .num {
    margin-left: 0;
    font-size: 25px;
    font-weight: bold;
}

/* 商品详情   end */




.mid .recommend_box {
    display: inline-block;
    width: 20%;
}

/* -----------------------------------------------中部   结束----------------------------------- */